<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.mytable">
    <!-- 联网权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--SD卡储存权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- APK下载权限上面的也要写-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".School.MyApplication.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".School.School_MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".School.MainActivity_Net"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity
            android:name=".School.fragment_no_need.Game_Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".School.School_yt_ToGame"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".School.School_yt_ToAroad"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".School.School_yt_GoThink_Lead"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".School.School_yt_SeachJob"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".School.School_yt_To_Login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".School.School_yt_SetDetail"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".School.School_yt_ToChangePassword"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".School.School_yt_ToSee_UserDetail"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".School.School_yt_PersonalCollection"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".School.School_yt_MoreSubject"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".School.School_yt_MoreSubjectList"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".School.School_yt_ToTools"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".School.School_yt_To_Message"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".School.School_yt_MessageAdd"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".School.WebView_News_Detil_Activity_NoNeed"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".School.School_yt_MoreSubject1"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".School.yt_LinkMan.yt_LinkMan"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".School.WebView_News_Detil_Activity2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- 消息页面测试 -->
        <activity android:name=".School.TestActivity" />
        <activity
            android:name=".School.yt_WebView.YantaiMainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".School.yt_WebView.ToGoJobActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".School.yt_WebView.ToHelpStudentActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".School.yt_WebView.ToMathActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".School.yt_WebView.ToofficeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".School.yt_WebView.ToStudentWorkActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".School.yt_WebView.ToYouthLeagueActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".School.WebView_News_Detil_Activity3_NoNeed"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".School.Welcome"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".School.School_yt_ToSee_UserDetailTest"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
    </application>

</manifest>
